Repository dombidav/ami_lara, pull requests merged in 2021-07, with the labels that each got.

#41 Footer.blade merge to origin
  .gitignore
  src/resources/views/components/footer.blade.php
Labels: blade

#51 Modified Article to category connection to Many-to-many
  src/app/Models/Article.php
  src/app/Models/Category.php
  src/database/factories/ArticleFactory.php
  src/database/migrations/2021_07_13_084140_connect_article_category.php
  src/database/seeders/ArticleCategoriesSeeder.php
  src/database/seeders/DatabaseSeeder.php
Labels: Database

#52 Connected Tags to Articles
  src/app/Models/Article.php
  src/app/Models/Tag.php
  src/database/migrations/2021_07_13_100039_connect_article_tags.php
  src/database/seeders/ArticleTagSeeder.php
  src/database/seeders/DatabaseSeeder.php
Labels: Database

#55 rename_tables_singular
  src/app/Models/Article.php
  src/app/Models/Category.php
  src/app/Models/Tag.php
  src/app/Models/User.php
  src/app/Models/Volume.php
  src/database/migrations/2021_07_08_081856_connect_user_article.php
  src/database/migrations/2021_07_12_123751_connect_article_volume.php
  src/database/migrations/2021_07_13_084140_connect_article_category.php
  src/database/migrations/2021_07_13_100039_connect_article_tags.php
Labels: Database

#62 Added Name Field to Volume
  src/app/Models/Volume.php
  src/database/factories/VolumeFactory.php
  src/database/migrations/2021_07_09_083833_create_volumes_table.php
Labels: Database

#63 Moved Bouncer checks to middleware and created GuardedController
  src/app/Http/Controllers/ArticleController.php
  src/app/Http/Controllers/CategoryController.php
  src/app/Http/Controllers/CommentController.php
  src/app/Http/Controllers/GuardedController.php
  src/app/Http/Controllers/RevisionController.php
  src/app/Http/Controllers/TagController.php
  src/app/Http/Controllers/UserController.php
  src/app/Http/Controllers/VolumeController.php
Labels: Controller

#66 Added Service for Category name to ID transformation
  src/app/Http/Requests/ExtendedFormRequest.php
  src/app/Providers/CategoryServiceProvider.php
  src/app/Providers/ContributorServiceProvider.php
  src/app/Providers/TagServiceProvider.php
Labels: Database

#71 Navbar
  src/app/Http/Controllers/StaticController.php
  src/resources/sass/app.sass
  src/resources/sass/partials/nav.sass
  src/resources/views/components/nav/auth.blade.php
  src/resources/views/components/nav/link.blade.php
  src/resources/views/components/nav/search.blade.php
  src/resources/views/components/navbar.blade.php
  src/routes/web.php
Labels: blade

#79 Footer
  src/resources/sass/partials/footer.sass
  src/resources/views/components/footer.blade.php
  src/resources/views/layouts/app.blade.php
Labels: blade

#81 67 Implement User add function in User Controller
  src/app/Http/Controllers/UserController.php
  src/app/Http/Requests/UserCreateRequest.php
Labels: Controller

#83 Nav bugfix "Users" nav link wont appear when u logged in
  src/resources/views/components/navbar.blade.php
Labels: blade, bug

#78 Header.blade
  src/public/img/header/AMI_LOGO.png
  src/public/img/header/summa.png
  src/resources/sass/app.sass
  src/resources/sass/partials/header.sass
  src/resources/views/components/header.blade.php
  src/resources/views/layouts/app.blade.php
Labels: blade

#94 90 Fix Volume content Slider
  src/public/js/simple-slider.js
  src/resources/js/app.js
  src/resources/sass/app.sass
  src/resources/sass/global/_colors.sass
  src/resources/views/components/cards/latest-article.blade.php
  src/resources/views/pages/home.blade.php
Labels: Sass, blade

#93 Navbar
  src/resources/sass/partials/nav.sass
  src/resources/views/components/nav/auth.blade.php
  src/resources/views/components/nav/search.blade.php
  src/resources/views/components/navbar.blade.php
Labels: blade

#101 99 Move Content to Article Index Route
  src/app/Http/Controllers/StaticController.php
  src/app/Http/Controllers/VolumeController.php
  src/resources/views/components/navbar.blade.php
  src/routes/web.php
Labels: Controller

#104 Nav profil dropdown fix when notlogged in
  src/resources/sass/partials/nav.sass
Labels: blade, bug

#105 97 Implement Article controller
  src/app/Http/Controllers/ArticleController.php
  src/app/Http/Controllers/VolumeController.php
Labels: Controller

#107 Home page fixes (container,slider)
  src/resources/sass/app.sass
  src/resources/sass/pages/home.sass
  src/resources/views/pages/home.blade.php
Labels: blade

#145 Article_show
  src/resources/sass/global/_colors.sass
  src/resources/sass/partials/article_show.sass
  src/resources/views/pages/articles/show.blade.php
Labels: blade

#162 About Page
  src/public/img/about/gk.png
  src/public/img/about/mh.jpg
  src/public/img/about/tj.jpg
  src/public/img/about/tt.png
  src/resources/sass/app.sass
  src/resources/sass/global/_colors.sass
  src/resources/sass/global/_main.sass
  src/resources/sass/pages/about.sass
  src/resources/views/layouts/app.blade.php
  src/resources/views/pages/about.blade.php
Labels: blade

#171 Profile Page
  src/resources/sass/app.sass
  src/resources/sass/partials/users.show.sass
  src/resources/views/pages/users/show.blade.php
Labels: blade
